<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Filebin</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1><a href="/">Filebin</a></h1>
      <p>An anonymous file sharing web app</p> 
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {{!-- Placeholder for error message --}}
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </body>
</html>
